#coverArt
{
	height:350px;
	max-height:100vw;
	background-position: center ;
	background-size: 100% auto;
}

#description
{
	background-color:white;
	border-radius:2px;
	box-shadow:0 0 10px rgba(0,0,0,.3);
}