$font: "Roboto Slab", serif;
$color: #3498db;

@import "player";
@import "feedImages";

body 
{
	background:#FAFAFA;
	font-family: $font;
}
#songs
{
	background-color:#FEFEFE;
	box-shadow:0 0 5px rgba(0,0,0,.4);
	z-index:10;
	audio
	{
		display: block;
		margin:15px auto;
	}
}