$font: "Roboto Slab", serif;
$color: #3498db;

body{
background-color:$color;
}

h1
{
	display:inline-block;
	font-family:$font;
	top:100px;
	color:$color;
	font-size:5em;
	font-weight:100;
	// position: relative;
	z-index:100;
	text-shadow:0 0 1px 10px rgba(0,0,0,.5);
}

h1:before
{
	padding:50px;
	left:0px;
	top:-60vw;
	max-top:400px;
	width:100vw;
	max-width:800px;
	max-height:800px;
	height:100vw;
	// padding:50px;
	border-radius:50vw;
	background-color:white;
	content:'';
	position: absolute;
	z-index:-1;
}