html {
  position: relative;
  min-height: 100%;
}

$player-height: 60px;

body {
  /* Margin bottom by player height */
  margin-bottom: $player-height;
}

.player {
	box-shadow:0 0 10px rgba(0,0,0,.8);
  background-color:$color;
  font-family:$font;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the player here */
  height: $player-height;
 }